@charset "utf-8";

div{
	white-space:normal;
	/*断开单词换行*/
	word-wrap:break-word; 
}

.label{
	font-size: 13px;
}

.label:hover{
	opacity: 0.6;
}

.glyphicon-remove:hover{
	color: black;
	opacity:1;
}

#searchResultsWarpper .panel-body{
	overflow-y: scroll;
	overflow-x: hidden;
	height: 650px;
}

.glyphicon-plus:hover{
	opacity: 0.5;
}